<!DOCTYPE html>
<html>
    <head>
        <title>Ekart</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link 
rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
crossorigin="anonymous">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="/css/footer.css" rel="stylesheet" type="text/css"/>
        <link href="/css/header.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
		{{>header2}}
		<br><br><br><br><br>
        <div class="container panel-margin">
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/1.jpeg" alt="shirt">
                        <div class="caption">
                            <h3>AMERICANO</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 200</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/2.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>GIN</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 1000</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/3.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>BARLEY</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 350</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/4.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>CUBA LIBRE</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 400</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/5.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>AFFOGATO</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 700</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/6.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>CAFE AU LAIT</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 500</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/7.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>DOUBLE ESPRESSO</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 700</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/8.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>COLD BREW COFFEE</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 600</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/9.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>BRANDY</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 1400</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/10.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>TEQUILA</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 1600</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/11.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>JUICE</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 300</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="./images/Food_Category/beverage/12.jpeg" alt="Shirt">
                        <div class="caption">
                            <h3>COCA COLA</h3>
                            <p>Price: <i class="fa fa-rupee"></i> 100</p>
                            <a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		{{>footer}}
        <script>
            let carts=document.querySelectorAll('.add-cart');

            let products=[
                {
                    name: 'AMERICANO',tag: '1',folder: 'beverage',price:200,inCart: 0
                },{
                    name: 'GIN',tag: '2',folder: 'beverage',price:1000,inCart: 0
                },{
                    name: 'BARLEY',tag: '3',folder: 'beverage',price:350,inCart: 0
                },{
                    name: 'CUBA_LIBRE',tag: '4',folder: 'beverage',price:400,inCart: 0
                },{
                    name: 'AFFOGATO',tag: '5',folder: 'beverage',price:700,inCart: 0
                },{
                    name: 'CAFE_AU_LAIT',tag: '6',folder: 'beverage',price:500,inCart: 0
                },{
                    name: 'DOUBLE_ESPRESSO',tag: '7',folder: 'beverage',price:700,inCart: 0
                },{
                    name: 'COLD_BREW_COFFEE',tag: '8',folder: 'beverage',price:600,inCart: 0
                },{
                    name: 'BRANDY',tag: '9',folder: 'beverage',price:1400,inCart: 0
                },{
                    name: 'TEQUILA',tag: '10',folder: 'beverage',folder: 'beverage',price:1600,inCart: 0
                },{
                    name: 'JUICE',tag: '11',folder: 'beverage',price:300,inCart: 0
                },{
                    name: 'COCA_COLA',tag: '12',folder: 'beverage',price:100,inCart: 0
                }
            ]
            // Adding Event Listeners to all the products
            for (let i=0;i<carts.length; i++){
                 carts[i].addEventListener('click',()=>{
                     cartNumbers(products[i]);
                     totalCost(products[i])
                 })
            }
            // To load No of items in cart whenever page is reloaded
            function onLoadCartNumbers(){
                let productNumbers=localStorage.getItem('cartNumber');
                if(productNumbers){
                    document.querySelector('.cart span').textContent=productNumbers;
                }
            }

            // To calculate the number of products added in the cart
            function cartNumbers(product){
                let productNumbers=localStorage.getItem('cartNumber');
                productNumbers=parseInt(productNumbers);

                if(productNumbers){
                    localStorage.setItem('cartNumber',productNumbers+1);
                    document.querySelector('.cart span').textContent=productNumbers + 1;
                }
                else{
                    localStorage.setItem('cartNumber',1);
                    document.querySelector('.cart span').textContent=1;
                }

                setItems(product);
            }

            // To add JSON files into local storage whenever a new product is added to the cart
            function setItems(product){
                let cartItems=localStorage.getItem('productsInCart');
                cartItems=JSON.parse(cartItems);

                if(cartItems != null){
                    if(cartItems[product.tag] == undefined){
                        cartItems={
                            ...cartItems,
                            [product.tag]: product
                        }
                    }
                    cartItems[product.tag].inCart +=1;
                }
                else{
                    product.inCart = 1;
                    cartItems = {
                        [product.tag]: product
                    }
                }

                localStorage.setItem("productsInCart",JSON.stringify(cartItems));
            }

            function totalCost(product){
                let cartCost=localStorage.getItem('totalCost');

                if(cartCost != null){
                    cartCost=parseInt(cartCost);
                    localStorage.setItem('totalCost', cartCost + product.price);
                }else{
                    localStorage.setItem('totalCost',product.price);
                }
            }

            onLoadCartNumbers();

        </script>
    </body>
</html>
