<!DOCTYPE html>
<html>
	<head>
		<title>Ekart</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/mens.css">
		<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<nav class="nav navbar-fixed-top navbar-inverse nave">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavBar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="home" class="navbar-brand">Ekart</a>
				</div>
				<div class="collapse navbar-collapse" id="mynavBar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="logout" ><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
						<li class="cart">
                        	<a href="kart"><div class="glyphicon glyphicon-shopping-cart"></div> Cart <span class="inner">0</span></a>
                    </li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container panel-margin">
			<div class="jumbotron">
				<h1>Welcome to Ekart Store</h1>
				<p>We have the best Electronics items for you. we have all in one place.</p>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/1.jpg" alt="Ladies">
						<div class="caption">
							<h3>Nikon</h3>
							<p>Price: <i class="fa fa-rupee"></i> 39,999</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/2.jpg" alt="Ladies">
						<div class="caption">
							<h3>Samsung</h3>
							<p>Price: <i class="fa fa-rupee"></i> 45,999</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/3.jpg" alt="Ladies">
						<div class="caption">
							<h3>Sony</h3>
							<p>Price: <i class="fa fa-rupee"></i> 59,949</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/4.jpg" alt="Ladies">
						<div class="caption">
							<h3>OLYMPUS</h3>
							<p>Price: <i class="fa fa-rupee"></i> 89,990</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/5.jpg" alt="Ladies">
						<div class="caption">
							<h3>CANON</h3>
							<p>Price: <i class="fa fa-rupee"></i> 49,990</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/6.jpg" alt="OPPO">
						<div class="caption">
							<h3>Redmi K30</h3>
							<p>Price: <i class="fa fa-rupee"></i> 21,499</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/7.jpg" alt="ONE PLUS">
						<div class="caption">
							<h3>Samsung S21</h3>
							<p>Price: <i class="fa fa-rupee"></i> 69,999</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/8.jpg" alt="REALME">
						<div class="caption">
							<h3>APPLE iphone 11</h3>
							<p>Price: <i class="fa fa-rupee"></i> 71,999</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/9.jpg" alt="OPPO">
						<div class="caption">
							<h3>OPPO A15 </h3>
							<p>Price: <i class="fa fa-rupee"></i> 9,999</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/10.jpg" alt="redmi k30">
						<div class="caption">
							<h3>ONE PLUS 8</h3>
							<p>Price: <i class="fa fa-rupee"></i> 35,000</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/11.jpg" alt="Samsung">
						<div class="caption">
							<h3>REALME V50</h3>
							<p>Price: <i class="fa fa-rupee"></i> 39,000</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/12.jpg" alt="Apple">
						<div class="caption">
							<h3>OPPO A5</h3>
							<p>Price: <i class="fa fa-rupee"></i> 10,999</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{>footer}}

		<script>
			let carts=document.querySelectorAll('.add-cart');

			let products=[
				{
					name: 'Nikon',tag: '1',price:39999,inCart: 0
				},{
					name: 'Samsung',tag: '2',price:45999,inCart: 0
				},{
					name: 'Sony',tag: '3',price:59459,inCart: 0
				},{
					name: 'OLYMPUS',tag: '4',price:89990,inCart: 0
				},{
					name: 'CANON',tag: '5',price:49990,inCart: 0
				},{
					name: 'Redmi K30',tag: '6',price:21499,inCart: 0
				},{
					name: 'Samsung S21',tag: '7',price:69999,inCart: 0
				},{
					name: 'APPLE iphone 11',tag: '8',price:71999,inCart: 0
				},{
					name: 'OPPO A15',tag: '9',price:9999,inCart: 0
				},{
					name: 'ONE PLUS 8',tag: '10',price:35000,inCart: 0
				},{
					name: 'REALME V50',tag: '11',price:39000,inCart: 0
				},{
					name: 'OPPO A5',tag: '12',price:10999,inCart: 0
				},
			]
			// Adding Event Listeners to all the products
			for (let i=0;i<carts.length; i++){
			     carts[i].addEventListener('click',()=>{
			         cartNumbers(products[i]);
					 totalCost(products[i]);
			     })
			}
			// To load No of items in cart whenever page is reloaded
			function onLoadCartNumbers(){
			    let productNumbers=localStorage.getItem('cartNumber');
			    if(productNumbers){
			        document.querySelector('.cart span').textContent=productNumbers;
			    }
			}

			// To calculate the number of products added in the cart
			function cartNumbers(product){
			    let productNumbers=localStorage.getItem('cartNumber');
			    productNumbers=parseInt(productNumbers);

			    if(productNumbers){
			        localStorage.setItem('cartNumber',productNumbers+1);
			        document.querySelector('.cart span').textContent=productNumbers + 1;
			    }
			    else{
			        localStorage.setItem('cartNumber',1);
			        document.querySelector('.cart span').textContent=1;
			    }

				setItems(product);
			}

			// To add JSON files into local storage whenever a new product is added to the cart
			function setItems(product){
				let cartItems=localStorage.getItem('productsInCart');
				cartItems=JSON.parse(cartItems);

				if(cartItems != null){
					if(cartItems[product.tag] == undefined){
						cartItems={
							...cartItems,
							[product.tag]: product
						}
					}
					cartItems[product.tag].inCart +=1;
				}
				else{
					product.inCart = 1;
					cartItems = {
						[product.tag]: product
					}
				}

				localStorage.setItem("productsInCart",JSON.stringify(cartItems));
			}

			function totalCost(product){
				let cartCost=localStorage.getItem('totalCost');

				if(cartCost != null){
					cartCost=parseInt(cartCost);
					localStorage.setItem('totalCost', cartCost + product.price);
				}else{
					localStorage.setItem('totalCost',product.price);
				}
			}

			onLoadCartNumbers();

		</script>
	</body>
</html>