<!DOCTYPE html>
<head>
<title>E-Kart</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link 
rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
crossorigin="anonymous">
<link href="/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="header">
        <h1>E-COMMERCE WEBSITE</h1>
    </div>

    <div class="container">
        <div class="slider">
            <div class="slide slide1">
                <div class="caption">
                    <h2>Find The New .......YOU</h2>
                    <H1>CLOTHING"S MADE FOR YOU</H1>
                    <a href="#">Shop NOW</a>
                    <br>
                </div>
            </div>
            <div class="slide slide2">
                <div class="caption">
                    <a href="#">Shop NOW</a>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Error, obcaecati magnam natus perspiciatis iste iure quas.
                        Fugit numquam assumenda facere. 
                        Assumenda reiciendis ullam aliquid omnis eaque qui 
                        veritatis dicta fugit neque quo maiores perspiciatis obcaecati 
                        dolores molestiae fuga eveniet modi,
                        praesentium quaerat? Dicta animi asperiores eligendi quo unde
                        atque eius?</p>
                </div>
            </div>
            <div class="slide slide3">
                <div class="caption">
                    <a href="#">Shop NOW</a>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Error, obcaecati magnam natus perspiciatis iste iure quas.
                        Fugit numquam assumenda facere. 
                        Assumenda reiciendis ullam aliquid omnis eaque qui 
                        veritatis dicta fugit neque quo maiores perspiciatis obcaecati 
                        dolores molestiae fuga eveniet modi,
                        praesentium quaerat? Dicta animi asperiores eligendi quo unde
                        atque eius?</p>
                </div>
            </div>
            <div class="slide slide4">
                <div class="caption">
                    <a href="#">Shop NOW</a>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Error, obcaecati magnam natus perspiciatis iste iure quas.
                        Fugit numquam assumenda facere. 
                        Assumenda reiciendis ullam aliquid omnis eaque qui 
                        veritatis dicta fugit neque quo maiores perspiciatis obcaecati 
                        dolores molestiae fuga eveniet modi,
                        praesentium quaerat? Dicta animi asperiores eligendi quo unde
                        atque eius?</p>
                </div>
            </div>  
            <div class="slide slide5">
                <div class="caption">
                    <a href="#">Shop NOW</a>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Error, obcaecati magnam natus perspiciatis iste iure quas.
                        Fugit numquam assumenda facere. 
                        Assumenda reiciendis ullam aliquid omnis eaque qui 
                        veritatis dicta fugit neque quo maiores perspiciatis obcaecati 
                        dolores molestiae fuga eveniet modi,
                        praesentium quaerat? Dicta animi asperiores eligendi quo unde
                        atque eius?</p>
                </div>
            </div>
        </div>
    </div>
    <input type="checkbox" name="names" id="chk">
    <label for="chk" class="show-btn">
        <i class="fa fa-bars"></i>
    </label>
    <label for="chk" class="hide-btn">
        <i class="fa fa-times"></i>
    </label>
    <div class="signup sl">
        <a href="register"><b>SIGN UP</b></a>
    </div>
    <div class="login sl">
        <a href="login"><b>LOG IN</b></a>
    </div>
    <div class="sidebar">
        <ul class="list1">
            <li ><a href="#"><i class="fa fa-home"></i>Home</a></li>
          
            <li><a href="#aboutus"><i class="fa fa-user"></i>Categories</a></li>
            
            <li><a href="#bestoff"><i class="fa fa-tasks"></i>Best Offers</a></li>
            
            <li><a href="#tips"><i class="fa fa-rss"></i>Blog</a></li>
            
            <li><a href="#footer"><i class="fa fa-id-card"></i>Contact</a></li>
         </ul>
        <div class="social">
            <ul>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa fa-google"></i></a></li>
                <li><a href=""><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <br>    <br>    <br>    <br>
    <hr>
    <div style="clear: both;height:100px"></div>
    <h1 id="aboutus">CATEGORIES</h1>
    <br>
    <div class="Team" >
        <div class="category-box">
            <img src="./images/center/banner_02.png" alt="beard">
            <div class="category-content">
                <h2>Shop for Men</h2>
                <span>NEW STOCKS</span><br><br>
                <a href="./pages/mens.html"><b>SHOP NOW</b></a>
            </div>
        </div>
        <div class="category-box">
            <img src="./images/center/banner_03.png" alt="beard">
            <div class="category-content">
                <h2>Shop for Women</h2>
                <span>NEW STOCKS</span><br><br>
                <a href="./pages/woman.html"><b>SHOP NOW</b></a>
            </div>
        </div>
        <div class="category-box">
            <img src="./images/center/banner_4.png" alt="beard">
            <div class="category-content">
                <h2>Shop for Kids</h2>
                <span>NEW STOCKS</span><br><br>
                <a href="./pages/kids.html"><b>SHOP NOW</b></a>
            </div>
        </div>
        <div class="category-box">
            <img src="./images/center/banner_01.png" alt="beard">
            <div class="category-content">
                <h2>Shop Electronics</h2>
                <span>NEW STOCKS</span><br><br>
                <a href="./pages/elctronics.html"><b>SHOP NOW</b></a>
            </div>
        </div>

    </div>

    <div style="clear: both;height:100px"></div>
    <h1 id="bestoff">TODAY'S BEST OFFERS</h1>
    <div class="about1">
        <div class="left">
            <div class="imag" style="background-image: url('./images/best/Capture.PNG');"> 
            </div>
            <div class="imag" style="background-image: url('./images/best/Capture1.PNG');">
            </div>
        </div>
        <div class="right">
            <div class="imag" style="background-image: url('./images/best/Capture2.PNG');"> 
            </div>
            <div class="imag" style="background-image: url('./images/best/Capture3.PNG');">
            </div>
        </div>
    </div>
    <h1 id="popbrnd">POPULAR BRANDS</h1>
    <div class="popbrnd">
        <img src="./images/brands/brand_1.png" alt="">
        <img src="./images/brands/brand_2.png" alt="">
        <img src="./images/brands/brand_3.png" alt="">
        <img src="./images/brands/brand_4.png" alt="">
        <img src="./images/brands/brand_5.png" alt="">
        <img src="./images/brands/brand_6.png" alt="">
        <img src="./images/brands/brand_7.png" alt="">
        <img src="./images/brands/brand_8.png" alt="">
        <img src="./images/brands/brand_1.png" alt="">
        <img src="./images/brands/brand_2.png" alt="">
        <img src="./images/brands/brand_3.png" alt="">
        <img src="./images/brands/brand_4.png" alt="">
        <img src="./images/brands/brand_5.png" alt="">
        <img src="./images/brands/brand_6.png" alt="">
        <img src="./images/brands/brand_7.png" alt="">
        <img src="./images/brands/brand_8.png" alt="">
        <img src="./images/brands/brand_1.png" alt="">
        <img src="./images/brands/brand_2.png" alt="">
        <img src="./images/brands/brand_3.png" alt="">
        <img src="./images/brands/brand_4.png" alt="">
    </div>

    <div style="clear:both;height:100px"></div>
    <h1 id="tips">FASHION TIPS AND TRICKS</h1>
    <div class="tipsAndTricks">
        <div class="box">
            <img src="./images/tips and tricks/grid_1.jpg" alt="html pic" >
            <h4>HOW To Avoid Deodorant Skidmarks</h4>
            <p class="text">Nothing is worse than putting on a nice clean shirt and getting white deodorant lines all over it. This happens to me on a daily basis and I’ve tried using a tissue or a wet towel, but it usually just leaves giant wet spots all over the fabric—that might even be worse than the skidmarks! Instead, I have a wonderful solution for you: A sponge! A dry sponge removes even the peskiest deodorant stains like magic. This also works if someone has hugged you and gotten deodorant stains on the upper arms or shoulders of your jacket.</p>
            <a href="https://www.scienceofpeople.com/clothing-hacks/">Read More</a>
        </div>
        <div class="box">
            <img src="./images/tips and tricks/grid_2.jpg" alt="html pic" >
            <h4>Best Anti-Wrinkle Solution</h4>
            <p class="text">I hate ironing. It’s such a pain and requires so much set-up time with the iron, water, plug, ironing board and starch—who has time for that these days? Not me! That’s why I use a hair straightener to get out mini-wrinkles. If you have some wrinkles on the front of your shirt or your collar, a hair straightener is a life saver and takes less than a minute. This is especially helpful while traveling.</p>
            <br>
            <a href="https://www.scienceofpeople.com/clothing-hacks/">Read More</a>
        </div>
        <div class="box">
            <img src="./images/tips and tricks/grid_3.jpg" alt="html pic" >
            <h4>HOW To Avoid Smelly Shoes</h4>
            <p class="text">Put them in the freezer for 24 hours. This can kill most odors.
                Put them in the hot sun for a day to air out (but don’t let them get damp in morning mist or overnight).
                If you can wash your tennis shoes or canvas shoes, first coat them in baking soda and wash them with your normal detergent.
            </p>
            <br><br>
            <a href="https://www.scienceofpeople.com/clothing-hacks/">Read More</a>
        </div>
        <div class="box">
            <img src="./images/tips and tricks/grid_5.jpg" alt="html pic" >
            <h4>Solution For Fabric Poops</h4>
            <p class="text">There’s poop on that sweater. No, not bird poop, fabric poop. You know when you have worn a sweater or pair of pants so many times that it begins to shed into these little balls of thready pills? I call those clothing poops, and they look nasty when you don’t take care of them. All you have to do is shave your clothes—yup, SHAVE! Take your razor and run it lightly along the fabric, this will shave off any top fabric poops. Use tape to take care of any leftovers.</p>
            <a href="https://www.scienceofpeople.com/clothing-hacks/">Read More</a>
        </div>
    </div>
    <div style="clear:both;height:100px"></div>
    {{>footer}}
    <script>
        function onLoadCartNumbers(){
			    let productNumbers=localStorage.getItem('cartNumber');
			    if(productNumbers){
			        document.querySelector('.cart span').textContent=productNumbers;
			    }
		}
        onLoadCartNumbers();
    </script>
</body>
</html>