<!DOCTYPE html>
<html>
	<head>
		<title>Ekart</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/mens.css">
		<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<nav class="nav navbar-fixed-top navbar-inverse nave">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavBar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="home" class="navbar-brand">Ekart</a>
				</div>
				<div class="collapse navbar-collapse" id="mynavBar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="logout" ><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
						<li class="cart">
                        	<a href="kart"><div class="glyphicon glyphicon-shopping-cart"></div> Cart <span class="inner">0</span></a>
                    	</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container panel-margin">
			<div class="jumbotron">
				<h1>Welcome to Ekart Store</h1>
				<p>We have the best shirts,Jeans and many more for you. we have all in one place.</p>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies1.jpg" alt="Ladies">
						<div class="caption">
							<h3>Shirt 1</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1900</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies2.jpg" alt="Ladies">
						<div class="caption">
							<h3>Shirt 2</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1200</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies3.jpg" alt="Ladies">
						<div class="caption">
							<h3>Shirt 3</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1499</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies4.jpg" alt="Ladies">
						<div class="caption">
							<h3>Saree 1</h3>
							<p>Price: <i class="fa fa-rupee"></i> 899</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies5.jpg" alt="Ladies">
						<div class="caption">
							<h3>Saree 2</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1399</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies6.jpg" alt="Ladies">
						<div class="caption">
							<h3>Saree 3</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1520</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies7.jpg" alt="ladies">
						<div class="caption">
							<h3>Jeans</h3>
							<p>Price: <i class="fa fa-rupee"></i> 799</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies8.jpg" alt="ladies">
						<div class="caption">
							<h3>Jeans</h3>
							<p>Price: <i class="fa fa-rupee"></i> 949</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies9.jpg" alt="ladies">
						<div class="caption">
							<h3>Jeans</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1349</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies10.jpg" alt="ladies">
						<div class="caption">
							<h3>Jeans</h3>
							<p>Price: <i class="fa fa-rupee"></i> 649</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies11.jpg" alt="ladies">
						<div class="caption">
							<h3>Flats</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1300</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies12.jpg" alt="ladies">
						<div class="caption">
							<h3>Heels</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1240</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{>footer}}

		<script>
			let carts=document.querySelectorAll('.add-cart');

			let products=[
				{
					name: 'Shirt1',tag: 'ladies1',price:1900,inCart: 0
				},{
					name: 'Shirt2',tag: 'ladies2',price:1200,inCart: 0
				},{
					name: 'Shirt3',tag: 'ladies3',price:1499,inCart: 0
				},{
					name: 'Saree 1',tag: 'ladies4',price:899,inCart: 0
				},{
					name: 'Saree 2',tag: 'ladies5',price:1399,inCart: 0
				},{
					name: 'Saree 3',tag: 'ladies6',price:1520,inCart: 0
				},{
					name: 'Jeans',tag: 'ladies7',price:799,inCart: 0
				},{
					name: 'Jeans',tag: 'ladies8',price:949,inCart: 0
				},{
					name: 'Jeans',tag: 'ladies9',price:1349,inCart: 0
				},{
					name: 'Jeans',tag: 'ladies10',price:649,inCart: 0
				},{
					name: 'Flats',tag: 'ladies11',price:1300,inCart: 0
				},{
					name: 'Heels',tag: 'ladies12',price:1240,inCart: 0
				}
			]
			// Adding Event Listeners to all the products
			for (let i=0;i<carts.length; i++){
			     carts[i].addEventListener('click',()=>{
			         cartNumbers(products[i]);
					 totalCost(products[i]);
			     })
			}
			// To load No of items in cart whenever page is reloaded
			function onLoadCartNumbers(){
			    let productNumbers=localStorage.getItem('cartNumber');
			    if(productNumbers){
			        document.querySelector('.cart span').textContent=productNumbers;
			    }
			}

			// To calculate the number of products added in the cart
			function cartNumbers(product){
			    let productNumbers=localStorage.getItem('cartNumber');
			    productNumbers=parseInt(productNumbers);

			    if(productNumbers){
			        localStorage.setItem('cartNumber',productNumbers+1);
			        document.querySelector('.cart span').textContent=productNumbers + 1;
			    }
			    else{
			        localStorage.setItem('cartNumber',1);
			        document.querySelector('.cart span').textContent=1;
			    }

				setItems(product);
			}

			// To add JSON files into local storage whenever a new product is added to the cart
			function setItems(product){
				let cartItems=localStorage.getItem('productsInCart');
				cartItems=JSON.parse(cartItems);

				if(cartItems != null){
					if(cartItems[product.tag] == undefined){
						cartItems={
							...cartItems,
							[product.tag]: product
						}
					}
					cartItems[product.tag].inCart +=1;
				}
				else{
					product.inCart = 1;
					cartItems = {
						[product.tag]: product
					}
				}

				localStorage.setItem("productsInCart",JSON.stringify(cartItems));
			}

			function totalCost(product){
				let cartCost=localStorage.getItem('totalCost');

				if(cartCost != null){
					cartCost=parseInt(cartCost);
					localStorage.setItem('totalCost', cartCost + product.price);
				}else{
					localStorage.setItem('totalCost',product.price);
				}
			}

			onLoadCartNumbers();

		</script>
	</body>
</html>