<!DOCTYPE html>
<html>
	<head>
		<title>Ekart</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link 
rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
crossorigin="anonymous">
		<link href="/css/mens.css" rel="stylesheet" type="text/css"/>
		<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<nav class="nav navbar-fixed-top navbar-inverse nave">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavBar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="home" class="navbar-brand">Ekart</a>
				</div>
				<div class="collapse navbar-collapse" id="mynavBar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="logout" ><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
						<li class="cart">
                        	<a href="kart"><div class="glyphicon glyphicon-shopping-cart"></div> Cart <span class="inner">0</span></a>
                    	</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container panel-margin">
			<div class="jumbotron">
				<h1>Welcome to Ekart Store</h1>
				<p>We have the best shirts,Jeans and many more for you. we have all in one place.</p>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts1.jpg" alt="shirt">
						<div class="caption">
							<h3>Shirt 1</h3>
							<p>Price: <i class="fa fa-rupee"></i> 900</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts2.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 2</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1000</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts3.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 3</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1200</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts4.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 4</h3>
							<p>Price: <i class="fa fa-rupee"></i> 800</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts5.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 5</h3>
							<p>Price: <i class="fa fa-rupee"></i> 700</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts6.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 6</h3>
							<p>Price: <i class="fa fa-rupee"></i> 700</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts7.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 7</h3>
							<p>Price: <i class="fa fa-rupee"></i> 700</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts8.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 8</h3>
							<p>Price: <i class="fa fa-rupee"></i> 700</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts9.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 9</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1400</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts10.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 10</h3>
							<p>Price: <i class="fa fa-rupee"></i> 600</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="image/Shirts11.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 11</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1300</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Shirts12.jpg" alt="Shirt">
						<div class="caption">
							<h3>Shirt 12</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1200</p>
							<a class="add-cart cart1 btn btn-danger" href="#">Add Cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{>footer}}

		<script>
			let carts=document.querySelectorAll('.add-cart');

			let products=[
				{
					name: 'Shirt1',tag: 'Shirts1',price:900,inCart: 0
				},{
					name: 'Shirt2',tag: 'Shirts2',price:1000,inCart: 0
				},{
					name: 'Shirt3',tag: 'Shirts3',price:1200,inCart: 0
				},{
					name: 'Shirt4',tag: 'Shirts4',price:800,inCart: 0
				},{
					name: 'Shirt5',tag: 'Shirts5',price:700,inCart: 0
				},{
					name: 'Shirt6',tag: 'Shirts6',price:700,inCart: 0
				},{
					name: 'Shirt7',tag: 'Shirts7',price:700,inCart: 0
				},{
					name: 'Shirt8',tag: 'Shirts8',price:700,inCart: 0
				},{
					name: 'Shirt9',tag: 'Shirts9',price:1400,inCart: 0
				},{
					name: 'Shirt10',tag: 'Shirts10',price:600,inCart: 0
				},{
					name: 'Shirt11',tag: 'Shirts11',price:1300,inCart: 0
				},{
					name: 'Shirt12',tag: 'Shirts12',price:1200,inCart: 0
				}
			]
			// Adding Event Listeners to all the products
			for (let i=0;i<carts.length; i++){
			     carts[i].addEventListener('click',()=>{
			         cartNumbers(products[i]);
					 totalCost(products[i]);
			     })
			}
			// To load No of items in cart whenever page is reloaded
			function onLoadCartNumbers(){
			    let productNumbers=localStorage.getItem('cartNumber');
			    if(productNumbers){
			        document.querySelector('.cart span').textContent=productNumbers;
			    }
			}

			// To calculate the number of products added in the cart
			function cartNumbers(product){
			    let productNumbers=localStorage.getItem('cartNumber');
			    productNumbers=parseInt(productNumbers);

			    if(productNumbers){
			        localStorage.setItem('cartNumber',productNumbers+1);
			        document.querySelector('.cart span').textContent=productNumbers + 1;
			    }
			    else{
			        localStorage.setItem('cartNumber',1);
			        document.querySelector('.cart span').textContent=1;
			    }

				setItems(product);
			}

			// To add JSON files into local storage whenever a new product is added to the cart
			function setItems(product){
				let cartItems=localStorage.getItem('productsInCart');
				cartItems=JSON.parse(cartItems);

				if(cartItems != null){
					if(cartItems[product.tag] == undefined){
						cartItems={
							...cartItems,
							[product.tag]: product
						}
					}
					cartItems[product.tag].inCart +=1;
				}
				else{
					product.inCart = 1;
					cartItems = {
						[product.tag]: product
					}
				}

				localStorage.setItem("productsInCart",JSON.stringify(cartItems));
			}

			function totalCost(product){
				let cartCost=localStorage.getItem('totalCost');

				if(cartCost != null){
					cartCost=parseInt(cartCost);
					localStorage.setItem('totalCost', cartCost + product.price);
				}else{
					localStorage.setItem('totalCost',product.price);
				}
			}

			onLoadCartNumbers();

		</script>
	</body>
</html>