    <footer>
        <section class="sec-1" id="footer">
            <section class="about">
                <h2>ABOUT</h2>
                <p>This is a online shopping website also termed as E-Commerce Website. We have integrated a huge number of trusted manufacturers to provide you with you with best services and also provide after-sales servies without any difficulty.</p>
            </section>
            <section class="link1">
                <h2>CATEGORIES </h2>
                <ul>
                    <li><a href="#" class="alert">MENS SECTION</a></li>
                    <li><a href="#" class="alert">WOMAN SECTION</a></li>
                    <li><a href="#" class="alert">ELECTRONICS</a></li>
            </section>
            <section class="link2">
                <h2>QUICK LINKS</h2>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contribute</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Disclaimer</a></li>
                </ul>
            </section>
            <section class="link3">
                <h2>CONTACT US</h2>
                <ul>
                    <li><i class="fa fa-home"></i><span>GLA University, Mathura</span></li>
                    <li><i class="fa fa-envelope"></i><span>shivamkmr335.github.io</span></li>
                    <li><i class="fa fa-phone-square"></i><span>Mobile:700728XXXX</span></li>
                    <li><i class="fa fa-phone-square"></i><span>Mobile:895333XXXX</span></li>
                    <li><i class="fa fa-facebook-official"></i><span><a href="index">E-Commerce Website</a></span></li>
                </ul>
            </section>
        </section>
        <hr width="100%" noshade/> 
        <section class="sec-2">
            <p>Register For Free <span><a href="register">SignUp!</a></span></p>

        </section>
        <hr width="100%" noshade/>
        <section class="sec-3">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </section>
        <hr width="100%" noshade/>
        <section class="sec-4">
            <p>Copyright © 2020 All Rights Reserved by
                <a href="https://www.beta-labs.in">Majak</a>
            </p>
        </section>
        <script>
        let carts=document.querySelectorAll('.alert');
        for (let i=0;i<carts.length; i++){
			     carts[i].addEventListener('click',()=>{
			         alert('Please LogIn or Register');
			     })
			}
        </script>
    </footer>