<div class="head">
    <h1>E-COMMERCE WEBSITE</h1>
</div>
<input type="checkbox" name="names" id="chk">
<label for="chk" class="show-btn">
    <i class="fa fa-bars"></i>
</label>
<label for="chk" class="hide-btn">
    <i class="fa fa-times"></i>
</label>
<div class="signup sl">
    <a href="register"><b>SIGN UP</b></a>
</div>
<div class="login sl">
    <a href="login"><b>LOG IN</b></a>
</div>
<div class="sidebar">
    <ul class="list1">
        <li ><a href="index"><i class="fa fa-home"></i>Home</a></li>
        <li id="category"><a href="#aboutus"><i class="fa fa-user"></i>Categories</a></li>
        <li><a href="#bestoff"><i class="fa fa-tasks"></i>Best Offers</a></li>
        <li><a href="#tips"><i class="fa fa-rss"></i>Blog</a></li>
        <li><a href="#footer"><i class="fa fa-id-card"></i>Contact</a></li>
    </ul>
    <ul class="list2">
        <li><a href="beverages">Beverages</a></li>
        <li><a href="">Snacks</a></li>
        <li><a href="">Soups</a></li>
        <li><a href="">Rolls</a></li>
        <li><a href="">Starter</a></li>
        <li><a href="">Main Course</a></li>
        <li><a href="">Breads</a></li>
        <li><a href="">Desserts</a></li>
        <li><a href="cake">Cake</a></li>
     </ul>
    <div class="social">
        <ul>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            <li><a href=""><i class="fa fa-google"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
        </ul>
    </div>
</div>
