body{
    background-color: rgba(105, 105, 105, 0.918);
}
.products-container{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    max-width: 940px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.itemno{
    font-size: large;
    position: relative;
    top: -3px;
}

.products-container ion-icon{
    font-size: 20px;
    color: blue;
    cursor: pointer;

}
img{
    max-height: 150px;
    border-radius: 15px;
}

.product-header{
    width: 100%;
    max-width: 90vw;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0px;
}
.product-header .product-title{
    width: 58%;
    text-align: center;
}

.product-header h5{
    font-size: 120%;
    text-align: center;
}

.product-header .quantity{
    width: 21%;
    text-align: center;
}

.product-header .total{
    width:10%;
    text-align: center;
}
.products{
    width: 100%;
    border-bottom: 4px solid lightgrey;
    margin: 0px;
}

.product-title{
    width: 45%;
    align-items: center;
}

.price{
    width: 70px;
    display: flex;
    align-items: center;
}



.product{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: inline-flexbox;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.name{
    width: 13%;
}

.products .total{
    text-align: end;
}
.products .quantity{
    width: 10%;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle{
    width: 30%;
}

.basketTotal{
    width: 10%;
}