.head{
    z-index: 5;
    position: fixed;
    top:0px;
    width:100%;
    height:70px;
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
}
.head h1{
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    line-height: 70px;
    margin-top: 0px;
}
#chk{
    position:absolute;
    top:0;
    opacity: 0;
}
.hide-btn{
    opacity:0;
}
.hide-btn,.show-btn{
    position:absolute;
    z-index: 6;
}
.show-btn,.hide-btn{
    font-size:40px;
    color:white;
    position:fixed;
    top:8px;
    left:25px;
}

#chk:checked ~ .sidebar{
    left:0;
}
#chk:checked ~ .show-btn{
    opacity:0;
}
#chk:checked ~ .hide-btn{
    opacity: 1;
    color: red;
}
#chk:checked ~ .content{
    width:80%;
}
ul{
    padding-inline-start: 0px;
}

li{
    text-decoration: none;
}
.sidebar{
    width:20%;
    height:100%;
    position: fixed;
    top:70px;
    left:0px;
    background-color: rgba(19, 18, 18, 0.87);
    left: -100%;
    transition: .4s;
    z-index: 6;
}
.sidebar ul.list1{
    list-style: none;

}
.sidebar ul.list1 li{
    border-bottom: 2px solid whitesmoke;
}
.sidebar ul.list1 li a{
    display: block;
    text-decoration:none;
    color:white;
    font-size:20px;
    padding: 8px 25px;   
}
.sidebar ul.list1 li i{
    margin-right: 15px;
}
.sidebar ul.list1 li a:hover{
    border-left:10px solid white;
    transition: .4s;
}

/*  */
.sidebar .list1 li:hover > ul{
    display: block;
}

#category:hover ~ .list1{
    opacity: 1;
}

.sidebar .list2{
    display: none;
    width: 150px;
    background-color:  rgba(255, 255, 255, 0.918);
    border: 2px solid black;
    position: fixed;
    top: 114.5px;
    left: 20vw;
    list-style: none;

}
.sidebar ul.list2 li{
    border-bottom: 2px solid rgb(0, 0, 0);
}
.sidebar ul.list2 li a{
    display: block;
    text-decoration:none;
    color:black;
    font-size:20px;
    padding: 8px 8px;   
}
.sidebar ul.list2 li i{
    margin-right: 15px;
}

.sidebar ul.list2 li a:hover{
    border-left:10px solid grey;
    transition: .4s;
}
.social{
    width: 20%;
    position: fixed;
    bottom: 5px;
    font-size: 30px;
    border-top:2px solid whitesmoke;
    padding: 10px 10px;
}
.social{
    display: flex;
    justify-content: center;
}
.social ul{
    list-style: none;
    margin: 10px;
}
.social ul li{
    margin-right: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding:10px;
    line-height:100%;
    background-color: darkgray;
    border-radius: 50%;
}
.social ul li i{
    color:white;
    font-size: 30px;
    text-align:center;
    
}

.social ul li:nth-child(1):hover{
    background-color: #3b5999;
}
.social ul li:nth-child(2):hover{
    background-color: #55acee ;
}
.social ul li:nth-child(3):hover{
    background-color: #dd4b39 ;
}

.sl{
    box-sizing: border-box;
    z-index: 6;
    position: fixed;
    top: 10px;
    color: rgb(2, 2, 2);
    text-align: center;
    border-radius: 5px;
}
.sl a:hover{
    color: rgb(4, 193, 251);
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.4s;
}
.signup{
    right: 15px;
}
.signup a{
    padding: 8px;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.login{
    right: 145px;
}
.login a{
    padding: 8px;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.list2 .alert{
    margin-bottom: 0px;
}