*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.774);
}    
::-webkit-scrollbar{
    display: none;
}
/* ================== HEADER SECTION =================== */

@media(max-width:700px) {
    .sidebar {
        width: 100%;
        text-align: center;
    }
    .social-links {
        margin-top: 200px;
    }
    .header h1 {
        display: none;
    }
    .sidebar ul li{
    border-bottom: none;
    }
}
/* ================================================== */

h1{
    color: white;
}

.container{
    /* position: relative; */
    max-width: 100%;
    height: 100vh;
}
.container .slider{
    position: absolute;
    top: 0px;
    left: 0;
    width: 500%;
    height: 100%;
    overflow-y: hidden;
    animation: animate 55s linear infinite;
}
.container .slider .slide{
    width:20%;
    height: 100%;
    float: left;
}
.container .slider .slide .caption{
    margin-top: 50vh;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    background: rgba(250,250, 250, 0.9);
}
.container .slider .slide .caption a{
    padding: 5px;
    height: 40px;
    width: 150px;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    color: #000;
    font-size: 35px;
}
.container .slider .slide .caption a:hover{
    background-color: black;
    color: white;
}   
.container .slider .slide .caption p{ 
    margin-top:20px;
    padding: 0;
    color: #000;
    font-size: 18px;

}
.container .slider .slide.slide1{
    background: url(../images/slides/2.jpg);
    background-size: cover;
    background-position: center;
}

.container .slider .slide.slide2{
    background: url(../images/slides/3.jpg);
    background-size: cover;
    background-position: center;
}

.container .slider .slide.slide3{
    background: url(../images/slides/4.jpg);
    background-size: cover;
    background-position: center;
}

.container .slider .slide.slide4{
    background: url(../images/slides/5.jpg);
    background-size: cover;
    background-position: center;
}

.container .slider .slide.slide5{
    background: url(../images/slides/6.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes animate{
    0%{
        left:0;
    }
    8%{
        left:0;
    }
    10%{
        left:-100%;
    }
    18%{
        left:-100%;
    }
    20%{
        left:-200%;
    }
    28%{
        left:-200%;
    }
    30%{
        left:-300%;
    }
    38%{
        left:-300%;
    }
    40%{
        left:-400%;
    }
    48%{
        left:-400%;
    }
    50%{
        left:-300%;
    }
    58%{
        left:-300%;
    }
    60%{
        left:-200%;
    }
    68%{
        left:-200%;
    }
    70%{
        left:-100%;
    }
    78%{
        left:-100%;
    }
    80%{
        left:0%;
    }
}

/* -------------CATEGORIES---------------- */

.Team{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-around;
}
.Team .category-box{
    
    margin: 5px;
    width: 62vh;
    height: 65vh;
}
.Team .category-box:hover .category-content{
    left: 15%;
    width: 70%;
    transition: 0.7s;
    background-color: white;
}
.Team img{
    border-radius: 50px;
    height: 60vh;
    width: 60vh;
    background-size: cover;
    background-position: center;
}
.Team .category-box:hover img{
    height: 62vh;
    width: 62vh;
    transition: .3s;
    border: 4px solid rgb(255, 255, 255);
}
.category-content{
    position: relative;
    top: -160px;
    left: 40%;
    padding-left: 10px;
    padding-bottom: 10px;
    color: black;
    background-color: rgba(241, 234, 234, 0.719);
    width: 200px;
}
.category-content a{
    font-size: larger;
    text-decoration: none;
    color: #000;
    width: 100px;
    border: 1px solid black;
    padding: 6px;
    background-color: white;
    text-align: center;
    margin-left: 40px;
}
.category-content a:hover{
    color: white;
    background-color: black;
}

/* ---------TOP OFFERS----------- */

#aboutus{
    clear: both;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 5px;
}
.left{
    overflow: hidden;
    width:48%;
    float: left;
    color: white;
    text-align: justify;
    height: 100vh;
    padding: 5px;
    margin:10px;
    margin-top:0px;
    font-size: 20px;
}
.right{
    width:48%;
    float: right;
    height:100vh;
}
.imag{
    height: 50%;
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
    padding:10px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}
.imag:hover{
    border: 10px solid white;
}


/* -----------POPULAR BRANDS--------------- */
#bestoff{
    clear: both;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 5px;
}

/* -------------FASHION TIPS--------------- */

#tips{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.507);
}
.tipsAndTricks{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tipsAndTricks .box{
    background-color: rgb(4, 159, 248);
    margin-left: 8px;
    margin-top: 10px;
}
.box {
    justify-content: space-around;
    background-color: white;
    width:49%;
    height:auto;
    border-radius: 10px;
    padding: 15px;
    float: left;
}
.tipsAndTricks a{  
    position: relative;
    bottom: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    display: block;
    background-color: white;
    color: black;
    border: 2px solid black;
}
.tipsAndTricks a:hover{
    box-sizing: border-box;
    color: white;
    background-color: black;
}
.tipsAndTricks .box img{
    width: 100%;
    height: 70vh;
}
.tipsAndTricks h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
}
.tipsAndTricks .text{
    text-align: justify;
}

