@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
body{
    background: url("../images/background/o-ENCRYPTION-facebook.jpg");
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.her{
    top: 0;
    z-index: 5;
    position: fixed;
    margin-top:0px;
    width:100%;
    height:70px;
    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.her h1{
    color: white;
    line-height: 70px;
}
#chk{
    position:absolute;
    top:0;
    opacity: 0;
}
.hide-btn{
    opacity:0;
}
.hide-btn,.show-btn{
    position:absolute;
    z-index: 6;
}
.show-btn,.hide-btn{
    font-size:35px;
    color:white;
    position:fixed;
    top:20px;
    left:25px;
}

#chk:checked ~ .sidebar{
    left:0;
}
#chk:checked ~ .show-btn{
    opacity:0;
}
#chk:checked ~ .hide-btn{
    opacity: 1;
}
#chk:checked ~ .content{
    width:80%;
}
ul{
    padding-inline-start: 0px;
}

li{
    text-decoration: none;
}
.sidebar{
    width:20%;
    height:100%;
    position: fixed;
    top:70px;
    left:0px;
    background-color: rgb(19, 18, 18);
    left: -100%;
    transition: .7s;
    z-index: 6;
}
.sidebar ul.list1{
    list-style: none;

}
.sidebar ul.list1 li{
    border-bottom: 2px solid whitesmoke;
}
.sidebar ul.list1 li a{
    display: block;
    text-decoration:none;
    color:white;
    font-size:20px;
    padding: 15px 25px;   
}
.sidebar ul.list1 li i{
    margin-right: 15px;
}

.sidebar ul.list1 li a:hover{
    border-left:10px solid white;
    transition: .4s;
}
.social{
    width: 18.5%;
    position: fixed;
    bottom: 5px;
    font-size: 30px;
    border-top:2px solid whitesmoke;
    padding: 10px 10px;
}
.social{
    display: flex;
    justify-content: center;
}
.social ul{
    list-style: none;
    margin: 10px;
}
.social ul li{
    margin-right: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding:5px;
    line-height:100%;
    background-color: darkgray;
    border-radius: 50%;
}
.social ul li i{
    color:white;
    font-size: 30px;
    text-align:center;
    
}

.social ul li:nth-child(1):hover{
    background-color: #3b5999;
}
.social ul li:nth-child(2):hover{
    background-color: #55acee ;
}
.social ul li:nth-child(3):hover{
    background-color: #dd4b39 ;
}
@media(max-width:700px) {
    .sidebar {
        width: 100%;
        text-align: center;
    }
    .social-links {
        margin-top: 200px;
    }
    .header h1 {
        display: none;
    }
    .sidebar ul li{
    border-bottom: none;
    }
}
.container{
    margin-top: 70px;
    background-color: rgb(5, 180, 211);
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid black;
}

.header{
    background-color: rgb(47, 255, 203);
}
.header h2{
    padding: 20px;
    text-align: center;
}
.form{
    padding:20px 30px;
}
.form-group{
    position: relative;
    margin-bottom: 23px;
    padding-bottom: 5px;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
}
.form-group input{
    display: block;
    width:100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #f0f0f0;
}
.form-group i{
    position: absolute;
    right: 10px;
    top: 40px;
    visibility: hidden;
}
.form-group small{
    position: absolute;
    left:0;
    margin-top: 5px;
    visibility: hidden;
}
.form button{
    display: block;
    background-color: darkslateblue;
    width: 100%;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.form-group.success input{
    border-color: rgb(18, 209, 18);
}

.form-group.success .fa-check-circle{
    visibility: visible;
    color: rgb(18, 209, 18);
}

.form-group.error input{
    border-color: rgb(253, 41, 3);
}

.form-group.error .fa-exclamation-circle{
    visibility: visible;
    color:  rgb(253, 41, 3);
}

.form-group.error small{
    visibility: visible;
    color: rgb(253, 41, 3) ;
}