.footer{
    position:fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: #000;
    color:#fff;
    font-size:14px;
    margin-top: 400px;
}
.panel-title
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
}
.nave{
    background-color:#435560;
}